.signin {
    font-size: 30px;
    font-weight: 500;
    color: rgb(69, 69, 69);
    text-align: center;
    font-family: 'Oswald', sans-serif;   
}

.redirectRegister {
    font-size: 13px;
    font-weight: 500;
    color: rgb(69, 69, 69);
    text-align: center;
    font-family: 'Fira Mono', monospace;
}

.card-body {
    justify-content: center;
    font-family: 'Fira Mono', monospace;
    font-size: 16px;
}

.registerCard.card {
    margin-top: 200px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 2px 2px 0px rgb(196, 196, 196); 
}

.binoculars {
    max-width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#loginButton.btn.btn-secondary {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
}


