.welcomeBackground {
    background: url("../../assets/images/welcome3.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.welcome {
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Oswald', sans-serif;   
}

.description {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Fira Mono', monospace;
}

#logo {
    width: 400px;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

a {
    text-decoration: none;
}

a:link {
    color: rgb(0, 0, 0);
}       
a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: rgb(0, 0, 0);
}
a:active {
    color: rgb(0, 0, 0);
}
  