.hauntedBackground {
    background: url("../../assets/images/spooky1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

@media screen and (max-width: 765px) {   

    .hauntedBackground {
    background: none
}
}


