.hauntedBackground {

    background: url("../../assets/images/spooky1.png") fixed;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    top: 1;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

@media screen and (max-width: 765px) {   

    .hauntedBackground {
    background: none
}
}


