p, input {
    color: black!important
}

.binocularsTwo {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

h2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Oswald', sans-serif;   
    text-shadow: 1px 1px 4px #000000;
    font-family: 'Oswald', sans-serif;   
}