.natureBackground {
    background: url("../../assets/images/nature.png") fixed;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 1;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

@media screen and (max-width: 765px) {  
   
    .natureBackground {
    background: none;
}
}