.exampleBackground {
    background: url("../../assets/images/welcome2.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 1;
    width: 100%;
    height: auto;
     /* height: 100%; */
    background-size: cover;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgb(1, 1, 1);
}

.card {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(0, 0, 0);

}

.example {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.card-title {
    font-family: 'Oswald', sans-serif;   
    font-size: 22px;
    text-align: center;
    color: rgb(85, 85, 85);
}

.card-deck {
    margin-bottom: 40px;
    width: 80%;
    color: rgb(85, 85, 85);
}

.row {
    justify-content: center;
}

@media screen and (max-width: 765px) {
    
    .exampleBackground {
        background: none;

}

}




