.nightBackground {
    background: url("../../assets/images/night2.png") fixed;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 1;
    width: 100%;
    min-height: 110%;
    margin: 0;
}

@media screen and (max-width: 765px) {  
   
    .nightBackground {
    background: none;
}
}