.MuiIconButton-root:focus {
    outline: none !important;
    background-color: none;
    /* box-shadow: transparent; */
  }

 /* .MuiPaper-root {
  background-color: none!important;
} */
     

  .MuiIconButton-edgeEnd {
      margin-right: 0px!important;
  }




