.MuiIconButton-root:focus {
  outline: none !important;
  background-color: none;
  /* box-shadow: transparent; */
}

.MuiPaper-root {
background-color: #f5f5f5;
}
   
.MuiIconButton-edgeEnd {
    margin-right: 0px!important;
}


