.filmBackground {
    background: url("../../assets/images/film1.png") fixed ;
    position: absolute;
    background-repeat: repeat;
    background-size: cover;
    top: 1;
    width: 100%;
    min-height: 120%;
    margin: 0;
    background-attachment: scroll;

}

@media screen and (max-width: 765px) {

    .filmBackground {
    background: none;      
} 
}
    
    


